.header a{
  text-decoration:none;
  color:Black;
}
		
.header a:hover{
  text-decoration:underline;
}

.circleColor{
  width:100px;
  height:100px;
  display:inline-block;
   border-radius:100%;
}
.circleColor p{
  margin:40px 0 0 0;
}
#redDiv{
  background:red;
 
}
#orange{
  background:orange;
}
#yellow{
  background:yellow;
}
#green{
  background:green;
}
#blue{
  background:blue;
}
#purple{
  background:purple;
}

div {
  text-align:center;
}

.playArea{
  margin:5px 0 0 0;
  height:350px;
  background:White;
}
.canvas{
	height:100%;
}






