

.header{
	background:silver;
	margin-top: 0;
	margin-left:10px;
	margin-right:10px;
	border-radius: 0 0 10px 10px;
	opacity: 0.8;
	padding:5px;
}
#headerTitle{
	text-align: center;
	
}
#theme1{
	background:white;
	color:black;
	opacity:0.8;
}
#theme2{
	background:black;
	color:white;
	opacity:0.8;
}
.bodyarea{
	margin-top: 10px;
	margin-left:10px;
	margin-right:10px;
	padding:5px;
}

.phpbox{
	margin-top: 10px;
	margin-left:10px;
	margin-right:10px;
	padding:5px;
}

.phpcodebox{
	margin-top: 10px;
	margin-left:10px;
	margin-right:10px;
	padding:5px;
}