BODY {
MARGIN: 0px; 
PADDING: 0px;
BACKGROUND: white;
COLOR: black;
} 

A:link {background: none; color: black; text-decoration: underline; cursor: pointer;}
A:visited {background: none; color: black; text-decoration: underline; cursor: pointer;}
A:hover {background: none; color: red; text-decoration: underline; cursor: pointer;}
A:active { background: none; color: red; background: underline; cursor: pointer;}

.Global {
WIDTH: 100%;
HEIGHT: 100%;
}

.Global TD {
BORDER: 1px solid #52537c;
VERTICAL-ALIGN: top;
}

.Header {
WIDTH: 100%;
HEIGHT: 100px;
PADDING: 0px; 
}

.Header TD {
BORDER: 0px;
VERTICAL-ALIGN: top;
TEXT-ALIGN: left;
}

.NavBar {
WIDTH: 100%;
HEIGHT: 27px;
}

.NavBar TD {
BACKGROUND: url("redline-gradient.gif") repeat;
COLOR: black;
FONT: bold italic 16px verdana,sans-serif;
PADDING: 0px 0px 0px 30px;
TEXT-ALIGN: left;
BORDER: 0px;
VERTICAL-ALIGN: middle;
}

.NavBarMenu TD {
BACKGROUND: none;
COLOR: #5c5c5c;
FONT: bold italic 16px verdana,sans-serif;
PADDING: 0px 10px 0px 0px;
BORDER: 0px;
VERTICAL-ALIGN: middle;
}

.NavBarMenu TD A:link { COLOR: #000000; BACKGROUND: none; text-decoration: none;}
.NavBarMenu TD A:visited { COLOR: #000000; BACKGROUND: none; text-decoration: none;}
.NavBarMenu TD A:active { COLOR: #000000; BACKGROUND: none; text-decoration: overline;}
.NavBarMenu TD A:hover { COLOR: #000000; BACKGROUND: none; text-decoration: overline;}

.Left {
BACKGROUND: #d6a3a3;
COLOR: inherit;
}

.Content {
BACKGROUND: #F4EBEB;
COLOR: inherit;
}

.Right {
BACKGROUND: #d6a3a3;
COLOR: inherit;
}

.RightPanelBox {
WIDTH: 100%; 
HEIGHT: 100%; 
BACKGROUND: #fffffa; 
COLOR: inherit;
}

.BoxStyle {
BORDER: 1px solid #52537c;
MARGIN-TOP: 15px;
}

.BoxStyle TD {
BACKGROUND: #fffffa;
COLOR: inherit;
PADDING: 0px 0px 0px 25px;
TEXT-ALIGN: left;
BORDER: 0px;
}

.HeadingStyle {
BACKGROUND: inherit;
COLOR: #000000;
FONT: bold 20px arial,sans-serif;
}

P {
FONT: 13px arial,sans-serif;
}

.Padded {
PADDING: 15px;
}

.SmallFont {
FONT: 13px Verdana,sans-serif;
}

.MedFontBold {
FONT: bold 15px Verdana,sans-serif;
}

.SmallFont TD {
FONT: 13px Verdana,sans-serif;
}

.MedFontBold TD {
FONT: bold 15px Verdana,sans-serif;
}

.Footer {
BACKGROUND: url("redbg-fade.gif") repeat-y;
COLOR: #000000;
FONT: 13px arial,sans-serif;
HEIGHT: 22px;
TEXT-ALIGN: center;
}
