.meat{
  background:none;
  
}
.centeringDiv{
  width:50%;
  padding:10px 0 10px 0;
  background:black;
  padding:15x;
  border-radius:8px;
}
table{
  border:white 1px solid;
}

td{
  border:white 1px solid;
  color:white;
}

