nav{
  float:left;
  width:25%;
  border:solid 2px white;
  border-radius:10px;
  height:525px;
}
nav p {
  display:block;
  background:white;
  color:black;
  margin:0;
  height:10%;
  border:solid 1px grey;
  padding-top:10px
}
nav h2{
  height:10%;
}
.container{
  margin:0;
  padding:0;
  height:80%;
}
.newsDisplay{
  width:74%;
  height:525px;
  background:white;
  color:black;
  float:right;
  border-radius:10px;
}
#viewingFrame{
  background:black;
  color:white;
  height:400px;
  width:75%;
  border-radius:10px;
  
}

.centeringFrame h2{
  display:inline-block;
  margin-left:20px;
}
.centeringFrame a{
  text-decoration:none;
  color:black;
}
.directionButts{
  border: 0;
  background: black;
  border-radius: 4px;
  box-shadow: 0 5px 0 grey;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 10px 0 0 0;
  outline: 0;
  padding: 5px 5px;
  transition: all .1s linear;
}
.directionButts:active{
  box-shadow: 0 2px 0 grey;
  transform: translateY(3px)
}
nav a{
  color:black;
  text-decoration:none;
}
nav p:hover{
  background:gray;
}