table{
  border:white 1px solid;
  color:white;
  margin:0;
  padding:0;
  text-align:center;
}
td{
  border:white 1px solid;
  color:white;
  margin:0;
  padding:0;
  text-align:center;
}
button{
  background:white;
  color:black;
}
.allButt{
  background:silver;
  color:black;
  border-radius:0 5px 5px 0;
  margin:20px -5px 5px 0;
}
.unclaimedButt{
  background:silver;
  color:black;
  border-radius:0;
  margin:20px -5px 5px 0;
}
.myButt{
  background:silver;
  color:black;
  border-radius:5px 0 0 5px;
  margin:20px -5px 5px 10px;
}
.sortRowButts{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  background:White;
  border-radius:0;
  
}
